<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="redir to index.php" patternSyntax="Wildcard">
                    <match url="*" />
                    <action type="Rewrite" url="index.php" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <security>
          <requestFiltering allowDoubleEscaping="true" />
        </security>        
    </system.webServer>
</configuration>
